html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nunito", sans-serif; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 1.5;
  background: #181a1b;
  
}
.not-permit{
  display: none;
}
#particles-js{
  height: 100vh;
}


.name{

  position: absolute;
  top: 36vh;
  left: 10vw;
  color: white;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.rob-img{
  
  position: absolute;
   top: 21vh;
   right: 7vw;
   height: 500px;
   width: auto;
 
}




.content{
  color: white;
}
.about-sec{
  height: 350px;
  width: 900px;
  border: 4px solid white;
  /* position: relative; */
  /* left: 13.5vw; */
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-sec img{
  display: inline-block;
  height: 280px;
  width: auto;

  
  border-radius: 50%;
  border: 3px solid white;
}
.about-sec p{
  display: inline-block;
  padding-left: 4%;
  margin-top: 4.5%;
  margin-left: 2%;
  text-align: left;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ab-hed{
  font-family: sans-serif;
  margin-bottom: 40px;
}
.pr-hed{
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}










.secondary {
  cursor: pointer;
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.skills-hed{
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 100px;
}
.contact-hed{
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: 100px;
}
.social-card {
  
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  border-radius: 14px;
  margin-bottom: 150px;
}
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}
.github .BG {
  background: #181818;
}
.linkdin .BG {
  background: #0077b5;
}
.whatsapp .BG {
  background: #075e54;
}
.discord .BG {
  background: #c7d0f0;
}
.Btn:hover .BG {
  transform: scale(1.5);
  /* transform-origin: bottom; */
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
}



footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  color: #fff; /* adjust text color */
}
@media (max-width:950px) {
  .about-sec{
    width: 730px;
  }

}
@media (max-width:770px) {
  .all-items{
    display: none;
  }
  .not-permit{
    
    color: white;
    width: 100vw;
    height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   padding: 10px;
   text-align: center;


  }
  .not-permit img{
 
   width: 40vw;
   height: auto;
  }
}
.button {
  border: 2px solid white;
  position: absolute;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  /* border: none; */
  cursor: pointer;
  top: 60%;
  left: 10%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content a{
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.button:hover{
  border: 1px solid white;
}
.button::before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}




 .projects {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            display: flex;
            flex-wrap: wrap;
            width: 830px;

        }

        .project1 {
            border-radius: 10px;
            width: 830px;
            height: 200px;
            border: 2px solid white;
            display: flex;
            align-items: center;
            margin: 10px;
        }

        .project2 {
            border-radius: 10px;
            width: 215px;
            height: 460px;
            border: 2px solid white;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 10px;
        }

        .project34 {
            width: 593px;
            height: 500px;

        }

        .project3 {
            border-radius: 10px;
            width: 100%;
            height: 210px;
            border: 2px solid white;
            display: flex;
            align-items: center;
            margin: 10px;
            margin-bottom: 20px;
        }

        .project4 {
            border-radius: 10px;
            margin-top: 30px;
            width: 100%;
            height: 220px;
            border: 2px solid white;
            display: flex;
            align-items: center;
            margin: 10px;
        }

        .prj-img {
            margin: 20px;
            height: 150px;
            width: 250px;
            border: 1px solid white;
            border-radius: 7px;
        }

        .prj-img img {
            height: 150px;
            width: 250px;
            border-radius: 7px;
        }

        .prj-hed {
            margin-bottom: 0px;
            color: darksalmon;
            font-size: 28px;
            display: inline-block;
        }

        h3 {
            margin-top: 0px;
            color: white;
            display: inline-block;
            font-weight: 200;
            margin-bottom: 15px;

        }

        p {
            margin-top: 0px;

            font-size: 17px;
            color: white;
            opacity: 0.8;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .project-sec{
          width: 98vw;
          display: flex;
          align-items: center;
          justify-content: center;
        }