html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nunito", sans-serif; */
}

body {
  
  align-items: center;
  padding: 0;
  line-height: 1.5;
  background: #181a1b;
  
}
.not-permit{
  display: none;
}
#particles-js{
  height: 100vh;
}

.name{

  position: absolute;
  top: 36vh;
  left: 10vw;
  color: white;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.rob-img{
  
  position: absolute;
   top: 21vh;
   right: 7vw;
   height: 500px;
   width: auto;
 
}

.nav-bar{
  z-index: 2;
  /* background-color: #181a1b; */
  position: fixed;
  top: 3.5vh;
  left: 30.5vw;
  height: 70px;
  width: 600px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 2.5px solid white;

}
.nav-contents{
  /* background-color: black; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
.nav-contents li{
  list-style: none;
}
.nav-contents li a{
  font-family: sans-serif;
  text-decoration: none;
  padding: 4px;
  color: white;
  font-weight: 550;
}
.nav-contents li a:hover{
  color: rgb(122, 121, 121);
  /* border-radius: 5px;
  border: 2px solid rgb(122, 121, 121); */
}
.logo{
  position: fixed;
  height: 80px;
  top: 3.3vh;
  left: 3vw;

  width: auto;
}
.content{
  color: white;
}
.about-sec{
  height: 350px;
  width: 70vw;
  border: 4px solid white;
  position: relative;
  left: 13.5vw;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}
.about-sec img{
  display: inline-block;
  height: 280px;
  width: auto;
  position: relative;
  top: 9%;
  left: 2%;
  border-radius: 50%;
  border: 3px solid white;
}
.about-sec p{
  display: inline-block;
  padding-left: 4%;
  margin-top: 4.5%;
  margin-left: 2%;
  text-align: left;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ab-hed{
  font-family: sans-serif;
  margin-bottom: 40px;
}
.pr-hed{
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.project-sec{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.card {
  margin: 20px;
  position: relative;
  width: 500px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 30px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 16px;
  color: #343434;
  line-height: 1.4;
}
.card__description strong{
  font-size: 18px;
}

.card__button {
  
  padding: 15px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
  cursor: pointer;
}

.secondary {
  cursor: pointer;
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.skills-hed{
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 100px;
}
.contact-hed{
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: 100px;
}
.social-card {
  position: relative;
  left: 40vw;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  border-radius: 14px;
  margin-bottom: 150px;
}
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}
.github .BG {
  background: #181818;
}
.linkdin .BG {
  background: #0077b5;
}
.whatsapp .BG {
  background: #075e54;
}
.discord .BG {
  background: #c7d0f0;
}
.Btn:hover .BG {
  transform: scale(1.5);
  /* transform-origin: bottom; */
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
}



footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  color: #fff; /* adjust text color */
}
@media (max-width:1200px) {
  .all-items{
    display: none;
  }
  .not-permit{
    
    color: white;
    width: 100vw;
    height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   padding: 10px;
   text-align: center;


  }
  .not-permit img{
 
   width: 40vw;
   height: auto;
  }
}
.button {
  border: 2px solid white;
  position: absolute;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  /* border: none; */
  cursor: pointer;
  top: 60%;
  left: 10%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content a{
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.button:hover{
  border: 1px solid white;
}
.button::before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}


